<div id="<%= dom_id spy %>" class="scaffold_record">
  <p>
    <strong>Name:</strong>
    <%= spy.name %>
  </p>

  <p>
    <strong>Mission:</strong>
    <%= spy.mission %>
  </p>

  <p>
    <%= link_to "Show this spy", spy %>
  </p>
</div>
